@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-white: #e6e6e6;
  --main-black: #202020;
}

body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 22, 22);
  font-family: 'Saira', sans-serif;
}

a {
  font-family: inherit;
}
